body {
    background: url(bM2WavU.webp);
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;

}
input {
    border-radius: 10px;
    
}

    .caixa {
        position: fixed;
        top: 50px;
        left: 20;
        height: 200;
        width: 380px;
        background: transparent;
        border: 2px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px ;
        color: rgb(241, 241, 241);
        border-radius: 10px;
        padding: 0px 40px;
    
    }
    button{
        border-radius: 10px;
        padding: 0px 40px;
    }
    textarea {
        border-radius: 10px;
        padding: 0px 40px;
    }
